<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> | Ruby on rails tutorial</title>
</head>
<body>
	<h1>About pages</h1>
	<p>
		this is the about page
		<a href="http://www.qq.com">qq</a>
		tencent.  
	</p>
</body>
</html>